<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{url_for('get_words')}}" class="brand-logo">The Berlin Dictionary</a>
				<a href="{{url_for('get_words')}}" data-target="mobile-demo"
					class="sidenav-trigger"><i class="material-icons">menu</i></a>

				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_words')}}">Browse Words</a></li>

					<li><a href="{{url_for('add_word')}}">Add Word</a></li>
					<li><a href="">Manage Words</a></li>
				</ul>

				<ul class="sidenav" id="mobile-demo">
					<li><a href="{{url_for('get_words')}}">Browse Words</a></li>

					<li><a href="{{url_for('add_word')}}">Add Word</a></li>
					<li><a href="">Manage Words</a></li>
				</ul>

			</div>
		</nav>


	</header>

	{% block content %}

	{% endblock %}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"
		integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
        $('.modal').modal();

  });

      $('.sidenav').sidenav();

  
       $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1'));

  //Go back to Top Button
//Get the button
var mybutton = document.getElementById("topBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

  

	</script>

</body>

</html>