<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script type="text/javascript">
		$(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
       
       $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1'));
	</script>

</head>

<body>
	<h1>Base File</h1>
	{% block content %} {% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"
		integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>

</html>