{% extends 'base.html' %} {% block content %}

<!--  Page Title -->

<div class="page-title">
<h4> Edit Word </h4>
</div>

<!-- Edit Word Form  -->

<div class="container">
	<div class="row">
		<form action="{{ url_for('update_word', word_id=word._id) }}" method="POST">

			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">mood</i>
					<input id="word" name="word" type="text" class="validate" value="{{ word.word }}" required>
					<label for="word">Word</label>
				</div>
			</div>


			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">library_books</i>
					<textarea id="definition" name="definition" class="materialize-textarea" required>{{ word.definition }}</textarea>
					<label for="definition">Definition</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">mode_edit</i>
					{% for example in word.example %}
					<textarea id="example" name="example" class="materialize-textarea" >{{ example }}</textarea>
					{% endfor %}
					<label for="example">Examples</label>
					<h6>To add multiple, put '/' in between examples.</h6>
				</div>
			</div>


			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">account_circle</i>
					<input id="author" name="author" type="text" class="validate" value="{{ word.author }}">
					<label for="author">Author</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">thumb_up</i>
					<input disabled id="score" name="score" type="text" class="validate" value="0">
					<label for="score">Score: {{ word.score }}</label>
				</div>
			</div>


			<div class="row">
				<h6>Please note if you update this word, the score will automatically reset to 0.</h6>
			</div>

			<div class="row">
				<button class="btn waves-effect waves-light" type="submit">Update Word<i class="material-icons right">send</i></button>
			</div>
		</form>
	</div>
</div>


{% endblock %}