{% extends 'base.html' %} {% block content %}
<!-- Page Title  -->

<div class="page-title">
<h4> Manage Words </h4>
</div>

<!-- Explanation Paragraph  -->

<div class="container explanation-paragraph">
<p>Find the word you're looking for and click on it to edit, delete, share or upvote.</p>
</div>

<!-- Search Bar Section  -->


<div class="nav-wrapper row search-section ">
	<form action="{{url_for('search', query=input)}}">
		<div class="input-field search-bar hoverable">
			<input id="search_query" name="search_query" type="search" placeholder="Find a word" required>
			<label class="label-icon search-icon" for="search"><i class="material-icons">search</i></label>
		</div>
	</form>
</div>



{% endblock %}