{% extends 'base.html' %} {% block content %}

<h3> Manage Words </h3>

<h5>Find the word you're looking for and click on it to edit, delete, share or upvote.</h5>

<div class="nav-wrapper row search-section">
	<form action="{{url_for('search', query=input)}}">
			<div class="input-field col m10 search-bar">
				<input id="search_query" name="search_query" type="search" required>
				<label class="label-icon" for="search"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
			<div class="col m2 search-button">
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
			</div>
	</form>
</div>



{% endblock %}