{% extends 'base.html' %} {% block content %}

{% if db_results != [] %}

{% for result in db_results %}

<div class="container">


	<a href="{{ url_for('manage_word', word_id=result._id)}}">

		<div class="row">
			<div class="col s12 m6">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title"><strong>{{ result.word }}</strong></span>
						<p>{{ result.definition }}</p>
						{% for example in result.example %}
						<p><em>{{ example }}</em></p>
						{% endfor %}


						<p>{{ result.author }}</p>
					</div>
					<div class="card-action">
						<h7 id='display-score'>Score: {{ result.score }} </h7>


						<form action="{{ url_for('upvote_word', word_id=result._id) }}" method="POST">

							<button class="waves-effect waves-purple btn-small" id="upvote-btn" type="submit" onclick="updateDisplayedScore()">Upvote
								<i class="material-icons prefix">thumb_up</i></button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</a>

</div>



<script>
	function updateDisplayedScore() {
    
  document.getElementById("display-score").innerHTML = "Score:" + {{ result.score|safe }};

}
        
</script>
{% endfor %}

{% else %}

<p> Sorry, this word doesn't exist in the dictionary. Would you like to add it? </p>

<div class="col s4">
	<a href="{{ url_for('add_word') }}" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Add
		Word</a>

</div>

{% endif %}

<div>
	<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
</div>

{% endblock %}